<div class="row">
  <div class="col-md-8" style="font-size:18pt;">
    <p>
      The people of Mt. Horeb Presbyterian Church are an active community of believers; abundant in
      history and hopeful for the promise of God's future.
      <br/>
      The door of this church stand open to receive any and all who wish to join its pilgrimage
      as followers of Christ.
    </p>

    <br/>

    <p>
      <span style="font-weight: bolder;">Sunday Service</span>
      <br/>
      11 AM - 12 PM
    </p>

    <p style="font-size:14pt;">
      <span style="font-weight: bolder;">Adult Sunday School</span>
      <br/>
      10 AM - 11 AM
    </p>

    <br />

    <p>
      <span style="font-weight: bolder">Minister</span>
      <br/>
      <a href="#/about/lisa">Rev. Lisa Culpepper</a>&nbsp;(PCUSA)
    </p>

    <br />

    <p>
      <span style="font-weight: bolder">Church Musician</span>
      <br/>
      <a href="#/about/beth">Beth Scherfee</a>
    </p>

  </div>

  <div class="col-md-4">
    <img class="center-block imp-responsive" src="app-content/images/small-church.png">
  </div>
</div>