<div class="row">
  <div class="col-md-8" style="font-size:16pt;">
    <h2>Beth Scherfee</h2>
    <p>
      Beth Scherfee's ministry is through her music. She is an exceptionally talented pianist and enhances the worship experience every Sunday. 
      We are lucky to have her lead the music at Mt. Horeb.
    </p>
    <p>
      Beth received her BA in Music from the University of Redlands (California), studied music therapy at the University of California and after
      completing her internship at The Matheny School, New Jersey, received a national certification as a registered Music Therapist.
      Later, Beth obtained her K-12 Teaching Certificate for Music.
    </p>
  </div>
  <div class="col-md-4">
    <p>&nbsp;</p>
  </div>
</div>