<div class="row">
  <div class="col-md-6" style="font-size: 16pt;">
    <p>
      Mt Horeb Presbyterian Church
      <br/>
      2793 Iron Works Pike
      <br/>Lexington, KY 40511
    </p>

    <br/>
    <br/>
    
    <p style="margin-top: 1em;"><i style="font-size:24px" class="fa">&#xf09a;</i>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/mthoreblex">https://www.facebook.com/mthoreblex</a></p>
    <p style="margin-top: 1em;"><i class="material-icons">&#xe0e1;</i>&nbsp;&nbsp;contact&#64;mthoreblex.org</p>   
    <p style="margin-top: 1em;"><i class="material-icons">&#xe0b0;</i>&nbsp;&nbsp;404.234.5323</p>

  </div>

  <div class="col-md-6">
    <iframe frameborder="0" style="border:0;" allowfullscreen="allowfullscreen" height="480px" width="480px"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3138.4125342259863!2d-84.48496738411215!3d38.13059947969609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88424658cc633b03%3A0x54929a20afe0da2!2s2793+Iron+Works+Pike%2C+Lexington%2C+KY+40511!5e0!3m2!1sen!2sus!4v1461948749278"></iframe>
  </div>

</div>
