<div>
  <div class="row" ng-show="!isMobile" style="font-family:'Satisfy', cursive; font-size:64pt;">
    <p class="text-center">Mt. Horeb Presbyterian Church</p>
  </div>

  <div class="row" ng-show="isMobile" style="font-family:'Satisfy', cursive; font-size:24pt;">
    <p class="text-center">Mt. Horeb Presbyterian Church</p>
  </div>

  <div class="row" style="margin-top: 2em;">
    <img class="center-block" src="app-content/images/main-church.png">
  </div>

  <div class="row" style="font-size:18pt;text-transform:uppercase;">
    <p style="margin-top: 0.5em;" class="text-center">Lexington, KY</p>
  </div>

  <div style="margin-top: 1.5em;" class="row">
    <p class="text-center" style="font-size: medium; color: #c7c9cc;">
      Due to building updates, we are unable to schedule any weddings<br/>at Mt. Horeb at this time.
    </p>
  </div>
</div>