<div style="margin-top: 1em;">
  <div ng-show="!isMobile" style="font-family:'Satisfy', cursive; font-size:64pt;">
    <p class="text-center">Mt. Horeb Presbyterian Church</p>
  </div>

  <div ng-show="isMobile" style="font-family:'Satisfy', cursive; font-size:24pt;">
    <p class="text-center">Mt. Horeb Presbyterian Church</p>
  </div>

  <div style="margin-top: 2em;">
    <img class="center-block" src="app-content/images/main-church.png">
  </div>

  <div style="font-size:18pt;text-transform:uppercase;">
  <p class="text-center">Lexington, KY</p>
  </div>

</div>