<div class="row">
  <div class="col-md-8" style="font-size:13pt;">
    <h2>Reverend Dr. Lisa Baroody Culpepper</h2>

    <p>
      Lisa lives with her husband Dr. David M. Culpepper in Lexington Kentucky. Lisa and David have two young adult children, Lauren Cohn and Daniel Culpepper.
    </p>
    <p>
      Lisa is a graduate of Furman University (BS, 1979); Gordon-Conwell Theological Seminary, Master of Divinity (2007); Doctor of Ministry, Mission and Cross Cultural Studies (2013).
    </p>
    <p>
      Lisa has pastored several churches in New Harmony Presbytery, South Carolina. She has also served as conference presenter and speaker for
      Wee Kirk and the Association of Small Membership Church conferences. As a trustee of The Outreach Foundation, Lisa has traveled annually to
      Lebanon and Syria, 2014-2019.
    </p>
    <p>
      Her cross-cultural exposure includes growing up in a Lebanese family and being surrounded with Arabic language and hospitality. She has followed
      her great-grandfather in ministry as he served as a Presbyterian minister in Lebanon in the early 20th century. She has been involved cross-culturally
      for many years through participating and leading short term mission teams to Latin and Central America, Eastern Europe, and most recently Lesvos Greece,
      where she served in Moria refugee camp.
    </p>
    <p>
      Since moving to Lexington in January 2020, Lisa has affiliated with Kentucky Refugee Ministry and Peace Catalyst International and serves on the
      Church Development and Revitalization Ministry of Transylvania Presbytery.
    </p>
    <p>
      Lisa can be reached at <span style="color:#3170C4;">lisa.culpepper&#64;mthoreblex.org</span>
    </p>
  </div>
  <div class="col-md-4">
    <img style="margin-top: 2em; margin-left: 0.5em;" src="app-content/images/lisa.small.png"/>
  </div>
</div>