<div class="row">
  <div class="col-md-8" style="font-size:16pt;">
    <h2>Rachel Anderson</h2>

    <p>
      After growing up and attending college in Virginia, Rachel kicked off her adult life as a social worker in
      Atlanta, GA. At age 28, she attending Columbia Theological Seminary and began a journey that would lead her
      to mission service on the US-Mexico border. During those years she was continually astonished by the amazing
      grace God provides on the borders of our hearts, lives and nations.
    </p>
    <p>
      After leaving the border, she was called to a position in the Presbyterian World Mission offices in Louisville,
      where she continues to serve.  Soon after, God began to place a strange tickle in her heart which sparked her
      desire to serve a congregation.  She has been with Mt. Horeb since December 2014 as the part-time pastor.
    </p>
    <p>
      Rachel's husband, Jim Todd, is a native Kentuckian who splits his time between Mt. Horeb and his family's
      congregation in Louisville, Advent Episcopal.
    </p>
    <p>
      Rachel can be reached at <span style="color:#3170C4;">rachel.anderson&#64;mthoreblex.org</span>
    </p>
  </div>
  <div class="col-md-4">
    <img style="margin-top: 2em; margin-left: 0.5em;" src="app-content/images/rachel.small.png"/>
  </div>
</div>